#swoop {
    background:transparent url('images/swoop.png') no-repeat center;
    background-color: #000;
    height: 338px;
    z-index: -50;
}

#page {
    margin-left: auto;
    margin-right: auto;
}

#masthead {
    height: 10em;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    width: 90%;
}

.social-media-links {
    background-color: $site-color-1;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    float: right;
    padding-left: .7em;
    padding-right: .7em;
    position: absolute;
    top: 0;
    right: 0;
}

.social-media-links img {
    height: 3em;
    padding: .5em .3em .3em 0;
}

.weddings-site {
    float: right;
}

.main-navigation {
    background-color: $color__background-nav;
    color: $color__text-nav;
    position: relative;
    top: -7em;
    z-index: 80;

    margin-left: auto;
    margin-right: auto;
    width: 100%;

    a {
        color: $color__text-nav;
    }

    ul {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        max-width: 970px;

        li {
            padding: .7em;
        }

        li:hover {
            background-color: $color__background-nav-hover;
        }
    }
}

